/* -- CSS Reset -- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga' on;
  font-feature-settings: 'liga' on;
  margin: 0;
}

body {
  background-color: #ffffff;
  border-style: none;
}

body,
p,
a,
a:hover {
  color: #000000;
}

a,
a:hover {
  text-decoration: none;
  border: none;
  border-style: none;
  box-shadow: none;
}

a {
  color: #848d96;
  transition-duration: 0.5s;
  border-bottom: 1px dotted #848d96;
}

a:hover {
  color: #47bec7;
  transition-duration: 0.1s;
  border-bottom: 1px dotted #47bec7;
}

/* -- Content -- */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #061c30;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 21px;
  line-height: 33px;
  letter-spacing: -0.2px;
  color: #848d96;
  animation: fade-in 2s;
}

p {
  color: #848d96;
}

.fs-split {
  width: 100vw;
  height: 100vh;
  display: flex;
}

@media (max-width: 800px) {
  .fs-split {
    height: auto;
    flex-wrap: wrap;
  }
}

.fs-split .split-image {
  width: 50%;
  height: 100vh;
  background-size: cover;
}

@media (max-width: 800px) {
  .fs-split .split-image {
    height: 50vh;
    width: 100%;
  }
}

.fs-split .split-content {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

@media (max-width: 800px) {
  .fs-split .split-content {
    width: 100%;
    height: auto;
  }
}

.fs-split .split-content .split-content-vertically-center {
  padding: 80px;
  max-width: 640px;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1200px) {
  .fs-split .split-content .split-content-vertically-center {
    padding: 60px;
  }
}

@media (max-width: 800px) {
  .fs-split .split-content .split-content-vertically-center {
    padding: 40px;
  }
}

.split-intro {
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -2px;
}

.split-intro h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
  color: #47bec7;
}

.split-intro .tagline {
  color: #cccccc;
}

.split-bio {
  padding: 40px 0 20px 0;
  font-family: 'Lora', serif;
}

@media (max-width: 1200px) {
  .split-bio {
    padding: 30px 0 10px 0;
  }
}

@media (max-width: 800px) {
  .split-bio {
    padding: 20px 0 0 0;
  }
}

.split-bio p {
  color: #848d96;
  margin-bottom: 20px;
  line-height: inherit;
}

.split-bio strong,
.split-bio b {
  font-weight: bold;
  line-height: inherit;
}

.split-lists {
  margin-top: 5%;
}

@media (max-width: 500px) {
  .split-lists {
    margin-top: 15%;
  }
}

.split-lists .split-list {
  width: 30%;
  display: inline-block;
  margin-bottom: 40px;
  vertical-align: top;
}

@media (max-width: 500px) {
  .split-lists .split-list {
    margin-bottom: 0;
    width: 100%;
  }
}

.split-lists .split-list h2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 31px;
  color: #47bec7;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .split-lists .split-list h2.empty {
    display: none;
  }
}

.split-lists .split-list ul li {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 14px;
}

.split-lists .split-list ul li a {
  color: #848d96;
  transition-duration: 0.5s;
}

.split-lists .split-list ul li a:hover {
  color: #47bec7;
  transition-duration: 0.1s;
}

.fs-split .split-image {
  background-image: url('assets/me.png');
  background-position: center center;
}

.cv-link {
  font-size: 16px;
}
