<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"/>
    {% include head-custom.html %}
    {% seo %}
  </head>

  <body>
    <div class="fs-split">
      <div class="split-image"></div>
      <div class="split-content">
        <div class="split-content-vertically-center">
          <div class="split-intro">
            <h1>Hammed Oyedele • The Wicked Developer</h1>
            <span class="tagline">Software Engineer.</span>
          </div>

          <div class="split-bio">
            <p>
              Innovative senior software engineer with 7+ years of experience in developing
              cutting-edge web and mobile applications. Recognized for technical leadership,
              mentoring capabilities, and expertise in JavaScript, PHP, and Dart. Passionate about
              fostering developer communities and driving technological advancements.
            </p>
            <p>
              He works with a wide variety of technologies and frameworks including but not limited to
              HTML, CSS, JavaScript, TypeScript, PHP, Dart, Python, C#, Laravel, Symfony, WordPress, GoFiber, Adonis.js, Nest.js,
              React.js, Vue.js, Next.js, Nuxt.js, Flutter, Masonite, ASP.NET, MySQL, PostgreSQL, SQLite, Firebase, Convex, MongoDB,
              Memcached, Redis, Linux, GraphQL, WebSocket, OpenAPI/Swagger, JSON:API, Git, Docker,
              Kubernetes, AWS, Google Cloud Platform, Digital Ocean, CPanel, Parcel, Vite,
              Webpack, Agile, Scrum, & Test-Driven Development (TDD).
            </p>
          </div>
          <div class="split-lists">
            <div class="split-list">
              <ul>
                <li>
                  <a
                    rel="noopener"
                    href="https://linkedin.com/in/devhammed"
                    target="_blank"
                  >
                    LinkedIn
                  </a>
                </li>
                <li>
                  <a
                    rel="noopener"
                    href="https://stackoverflow.com/users/8540949"
                    target="_blank"
                  >StackOverflow</a>
                </li>
                <li>
                  <a href="{{ 'blog' | relative_url }}">Blog</a>
                </li>
                <li>
                  <a
                    rel="noopener"
                    href="https://codepen.io/devhammed"
                    target="_blank"
                    >Codepen</a>
                </li>
                <li>
                  <a
                    rel="noopener"
                    href="https://www.imdb.com/user/ur126528837/"
                    target="_blank"
                    >IMDB</a>
                </li>
              </ul>
            </div>

            <div class="split-list">
              <ul>
                <li>
                  <a
                    rel="noopener"
                    href="https://github.com/devhammed"
                    target="_blank"
                    >GitHub</a>
                </li>
                <li>
                  <a
                    rel="noopener"
                    href="https://profile.codersrank.io/user/devhammed"
                    target="_blank"
                    >CodersRank</a>
                </li>
                <li>
                  <a
                    rel="noopener"
                    href="https://twitter.com/devhammed"
                    target="_blank"
                  >
                    Twitter
                  </a>
                </li>
                <li>
                  <a rel="noopener" href="mailto:{{ site.email }}">Email</a>
                </li>
                <li>
                  <a rel="noopener" href="/assets/docs/resume.pdf" target="_blank"
                    >Resume</a>
                </li>
              </ul>
            </div>
          </div>
          <p class="copyright">
            Copyright © {{ site.time | date: '%Y' }}, Hammed Oyedele.
          </p>
        </div>
      </div>
    </div>

    {% include service-worker.html %}
  </body>
</html>
